<%= form_for(@trustee) do |f| %>
  <% if @trustee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trustee.errors.count, "error") %> prohibited this trustee from being saved:</h2>

      <ul>
      <% @trustee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
