<p id="notice"><%= notice %></p>

<h1>Listing Trustees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trustees.each do |trustee| %>
      <tr>
        <td><%= trustee.name %></td>
        <td><%= trustee.email %></td>
        <td><%= link_to 'Show', trustee %></td>
        <td><%= link_to 'Edit', edit_trustee_path(trustee) %></td>
        <td><%= link_to 'Destroy', trustee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trustee', new_trustee_path %>
